*{
    /* Tenho borders para conseguir perceber melhor onde estão os elementos */
    border: 1px solid;black;
    /*  
    font-family: Garamond, serif;
    */
    }
  
  header{
    background:#2e5981;
    color: black;
    position:sticky;
    top:8px;
    text-align:center;
    padding:5px; 
    z-index:3;
     }
  
  header> #navbar> a{
    color: white;
    border:none;
    }
  header> #navbar> h1{
    color: white;
    border:none;
    margin:1px;
    }
  
  h1 {
    text-align:center;
    text-shadow: 1px 1px 2px grey;
     font-size: 50px;
     padding-top: 6px;
     padding-bottom: 6px;
     
  }
  
  #welcome-section{
    position: relative;
    top:5px;
    height:100%;
    text-align:center;
    padding: 0px;
    margin: 0px;
    border: 0px;
    }
  
  #welcome-section>p{
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: blue;
      }
  
  a{
  color: black;
  text-decoration:none;
  }
   
  img {
  width: 100%;
  margin:0;
  border:0;
  padding:0;
  clip-path: inset(30% 0 27% 0);
  }
  
  /* não esquecer de tornar isto responsivo
  
  @media (max-width: 1000px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  */
  
  #clip2
      {
        position: relative;
        background-image: url("https://images.squarespace-cdn.com/content/v1/5a7630688c56a8f8f9e5ceb5/1589128912677-GR5XFIAFDQFQVBMGTOXS/7e9acccb37fb3c14-gif-design-3d-abstract-animated-gif-on-gifer-by-juhn.gif?format=2500w");
        width: 100%;
        height: 40%;
        background-size: cover;
        background-position: center;
             
         
        
        
      }